<div
  class="{% include acd/_internal/class-name.liquid base='ac-form-row' extra=include.class %}"
  {%- include acd/_internal/attribute.liquid name='id' value=include.id -%}
  {%- include acd/_internal/data-attr.liquid name='data-ac-layout' value=include.layout -%}
  {%- if include.attrs %} {{ include.attrs | strip }}{%- endif -%}
>
  {%- if include.label -%}
    <p class="ac-form-row__label">
      {{ include.label | escape }}
      {%- if include.required == true or include.required == 'true' -%}
        <span class="ac-form-row__required">*</span>
      {%- endif -%}
    </p>
  {%- endif -%}
  <div class="ac-form-row__control">{{ include.control_html }}</div>
</div>
