// _sass/_components.scss

.glass-panel {
  @include glass(15px, 0.4);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu li.active a {
  font-weight: bold;
  color: $primary-color;
}
