.terminal {
    font-family: $font-stack;
    text-align: left;
    /* Assicura che il contenuto sia allineato a sinistra */
}

.typing-animation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 0.15em solid $primary-color;
}

/* Typing animation for it language */
html[lang="it"] .typing-animation {
    animation: typing-it 1.5s steps(40, end) forwards, blink-caret 0.5s step-end infinite 1.5s;
}

@keyframes typing-it {
    from {
        width: 0;
    }

    to {
        width: 20ch;
    }
}

/* Typing animation for en language */
html[lang="en"] .typing-animation {
    animation: typing-en 1.5s steps(40, end) forwards, blink-caret 0.5s step-end infinite 1.5s;
}

@keyframes typing-en {
    from {
        width: 0;
    }

    to {
        width: 17ch;
    }
}

@keyframes blink-caret {
    0%, 100% { border-color: $primary-color; }
    50% { border-color: transparent; }
  }