// _sass/_layout.scss

/*
    Here we define the classes for the layout (container, header, nav, footer)
*/

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.site-header {
    padding: 1rem 0;
    @include glass(10px, 0.5);
}

/* Regole di base per il menu */
.site-header .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
.site-header .menu li a {
    font-weight: 500;
}