:root {
  --primary-color: #0a84ff;
  --background-color: #f0f4f8;
  --text-color: #333;
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --glass-bg: rgba(226, 226, 226, 0.2);
  --glass-border: rgba(255, 255, 255, 0.3);
  --switch-bg: #4A4A4A;          /* Bottone in light mode */
  --switch-icon-color: #ffffff;  /* Icona in light mode */
  --side-menu-bg: #fff;           /* Background sidebar in light mode */
  --side-menu-border: #eee;       /* Bordo sidebar in light mode */
  --dropdown-bg: #fff;             /* Sfondo dropdown (summary) in light mode */
  --dropdown-border: #ddd;         /* Bordo dropdown in light mode */
  --dropdown-text: #0a84ff;         /* Colore testo dropdown in light mode */
  --dropdown-hover-bg: rgba(10,132,255,0.1); /* Effetto hover */
  --dropdown-option-bg: #efefef;     /* Sfondo opzioni disponibili in light mode */
  --logo-filter-light: invert(0%) sepia(24%) saturate(4853%) hue-rotate(189deg) brightness(90%) contrast(92%);
  --collection-bg: #fff;       /* Background per le pagine dei progetti/post in light mode */
  --collection-text: var(--text-color);
  --blog-tile-hover-bg: #f9f9f9;       /* Background al passaggio per le tile in light mode */
  --category-bg: #f5f7fa;           /* Sfondo delle category tile in light mode */
  --category-border: #ccc;          /* Bordo delle category tile in light mode */
  --category-hover-bg: #e3e8ee;      /* Sfondo al passaggio in light mode */
}

.dark-theme {
  --primary-color: #0a84ff;
  --background-color: #1c1c1e;
  --text-color: #f0f0f0;
  --glass-bg: rgb(43, 43, 44);
  --glass-border: rgba(28, 28, 30, 0.3);
  --switch-bg: #878787;          /* Bottone in dark mode */
  --switch-icon-color: #222222;  /* Icona in dark mode */
  --side-menu-bg: #2c2c2e;        /* Background sidebar in dark mode */
  --side-menu-border: #444;       /* Bordo sidebar in dark mode */
  --dropdown-bg: #2c2c2e;          /* Sfondo dropdown in dark mode */
  --dropdown-border: #444;         /* Bordo dropdown in dark mode */
  --dropdown-text: #0a84ff;         /* Colore testo dropdown in dark mode */
  --dropdown-hover-bg: rgba(10,132,255,0.2);
  --dropdown-option-bg: #454545;     /* Sfondo opzioni disponibili in dark mode */
  --logo-filter-dark: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  --collection-bg: #2c2c2e;      /* Background scuro per i contenuti */
  --collection-text: var(--text-color);
  --blog-tile-hover-bg: #333333;       /* Hover background in dark mode */
  --category-bg: #3a3a3c;           /* Sfondo delle category tile in dark mode */
  --category-border: #555;          /* Bordo delle category tile in dark mode */
  --category-hover-bg: #4a4a4c;      /* Sfondo al passaggio in dark mode */
}