:root {
  --primary-color: #0a84ff;
  --background-color: #f0f4f8;
  --text-color: #333;
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --glass-bg: rgba(255, 255, 255, 0.2);
  --glass-border: rgba(255, 255, 255, 0.3);
  --switch-bg: #4A4A4A;          /* FAB backgorund in light mode */
  --switch-icon-color: #ffffff;  /* Icon in light mode */
}

.dark-theme {
  --primary-color: #0a84ff;
  --background-color: #1c1c1e;
  --text-color: #f0f0f0;
  --glass-bg: rgba(28, 28, 30, 0.2);
  --glass-border: rgba(28, 28, 30, 0.3);
  --switch-bg: #878787;          /* FAB background in dark mode */
  --switch-icon-color: #222222;  /* Icon in dark mode */
}