// _sass/_variables.scss

/*
  Define mixin for the "glass" panel
*/

// Mixin for glassmorphism effect
@mixin glass($blur: 8px, $alpha: null) {
  // Check if alpha value is provided
  @if $alpha == null {
  // Use default glass background color
  background: var(--glass-bg);
  } @else {
  // Use provided alpha value for background color
  background: rgba(255, 255, 255, $alpha);
  }
  // Apply blur effect for glassmorphism
  backdrop-filter: blur($blur);
  // Apply blur effect for iOS Safari support
  -webkit-backdrop-filter: blur($blur);
  // Add border to the glass panel
  border: 1px solid var(--glass-border);
}