// _sass/_variables.scss

/*
    Define mixin for the "glass" panel
*/

// Mixin for glassmorphism effect
@mixin glass($blur: 8px, $alpha: null) {
  @if $alpha == null {
    background: var(--glass-bg);
  } @else {
    background: rgba(255, 255, 255, $alpha);
  }
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur); /* For iOS Safari support */
  border: 1px solid var(--glass-border);
}