---
layout: default
---
<!-- This is the about page layout for Antonio Casto's personal website. 
  It includes a header section with a profile image and name, 
  followed by the main content of the page. -->
<div class="about-header">
  <div class="about-container">
    <div class="circular-border">
   <div class="circular-container">
     <img src="/assets/images/profile.jpeg" alt="Antonio Casto" class="circular-image">
   </div>
    </div>
    <div class="profile-name">
   <p class="cursive-name">Antonio Casto</p>
    </div>
  </div>
</div>
  
{{ content }}